*.cm?
*.o
*.obj
*.a
*.lib
*.mldep
*.mlidep
*.byte
*.asm
boot/Saved
_obuild
*.cmxa
*~
*.annot
tools/ocp-type-stdlib/*.mli
*.cmti
*.last_compiled
tools/ocp-wizard/completion/syntactic/owz_lexer.ml
tools/ocp-wizard/completion/syntactic/owz_parser.ml
tools/ocp-wizard/completion/syntactic/owz_parser.mli
tools/ocp-fix-errors/oCamlPatternParser.ml
tools/ocp-fix-errors/oCamlPatternParser.mli
tools/ocp-pp/lexer.ml
tools/ocp-pp/parser.ml
tools/ocp-pp/parser.mli
ocp-build.root
docs/roadmap/roadmap.aux
docs/roadmap/roadmap.log
libs/ocaml-compiler/approx/approx_lexer.ml
libs/ocaml-compiler/approx/approx_parser.ml
libs/ocaml-compiler/approx/approx_parser.mli
libs/ocaml-compiler/parsing/parser_yacc.ml
libs/ocaml-compiler/parsing/parser_yacc.mli
*.backup*
tools/ocp-wizard/test/*_*.ml
profile.out
depend.ocp-type
docs/roadmap2/main.aux
docs/roadmap2/main.log
docs/roadmap2/main.toc
*.last_compiled
.depend.ocp-type
docs/roadmap/deps.dot
docs/roadmap/short-features.tex
docs/roadmap/short-roadmap.tex
docs/roadmap/short.aux
docs/roadmap/short.log
docs/roadmap/short.out
docs/roadmap/short.toc
docs/roadmap2/
docs/user-manual/auto-libs.tex
docs/user-manual/auto-tools.tex
docs/user-manual/user-manual.aux
docs/user-manual/user-manual.log
docs/user-manual/user-manual.out
docs/user-manual/user-manual.pdf
docs/user-manual/user-manual.toc
tools/ocp-ide/typerex.el
tools/ocp-rtt/.depend
ocp-build.root.old
libs/ocaml-compiler-clean/parsing/lexer.ml
libs/ocaml-compiler-clean/parsing/linenum.ml
libs/ocaml-compiler-clean/parsing/parser.ml
libs/ocaml-compiler-clean/parsing/parser.mli
_esy
esy.lock
tools/ocp-ide/emacs/ocp-ide.el
tools/ocp-ide/emacs/tmp.el
autom4te.cache
config.log
config.status
emacs-plugins
ocp-typerex.ocp
libs/ocamlpro/yacclib/yacclib_lexer.ml
libs/ocamlpro/yacclib/yacclib_parser.ml
libs/ocamlpro/yacclib/yacclib_parser.mli
tools/ocp-wizard/emacs/ocp-wizard-plugin.el
tools/ocp-ide/emacs/typerex.el*
libs/ocamlpro/typerex-config/typerex_config.ml
ocp-build.root.old.old
typerex-ocaml-private
libs/ocamlpro/color/color.ml
ocp-subst-config.exe
boot/ocp-build
boot/ocp-build.run
boot/primitives.ml
Makefile.config
typerex.config
typerex.ocp
packages/opam/ocp-build.opam
ocp-build-bundle.ocp
debug.ocp
/config/Makefile.config
/src/ocp-build/buildOCPParser.ml
/src/ocp-build/buildOCPParser.mli
/src/ocp-build/buildVersion.ml
/src/ocp-build/metaLexer.ml
/check-headers.undo
headers-??.txt
/ocp-check-headers-ignore-files
/.ocpstop
/archi?.dot
/archi?.pdf
/exports-ocp-build-project.txt
/libs/ocplib-system/simpleConfig.ml
/libs/ocplib-compat/string-compat/stringCompat.ml
#*
/archi?.txt
/autoconf/config.ocpgen
/autoconf/config.ocp2gen
/_olint
*.old
/tools/ocp-build/lang-ocp2/buildOCP2Parser.ml
/tools/ocp-build/lang-ocp2/buildOCP2Parser.mli
/tools/ocp-build/lang-ocp/buildOCPParser.mli
/tools/ocp-build/lang-ocp/buildOCPParser.ml
/libs/ocplib-compat/string-compat/ocpCompat.ml
/tools/ocp-build/meta/metaLexer.ml
_opam
